name: macOS-CI
on:
  - push
  - workflow_dispatch

permissions:
  contents: read

jobs:
  macOS-CI:
    strategy:
      fail-fast: false
      matrix:
        macos_version: ["macos-14", "macos-15", "macos-26"]
        glx_option: ["dri", "xlib"]
    runs-on: ${{ matrix.macos_version }}
    env:
      GALLIUM_DUMP_CPU: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          cat > Brewfile <<EOL
          brew "bison"
          brew "expat"
          brew "gettext"
          brew "libclc"
          brew "libx11"
          brew "libxcb"
          brew "libxdamage"
          brew "libxext"
          brew "libxfixes"
          brew "libxrandr"
          brew "libxrender"
          brew "libxshmfence"
          brew "llvm"
          brew "lld"
          brew "spirv-llvm-translator"
          brew "spirv-tools"
          brew "molten-vk"
          brew "meson"
          brew "ninja"
          brew "pkg-config"
          EOL

          brew update
          brew bundle --verbose
      - name: Install Python dependencies
        run: pip3 install --user --break-system-packages mako packaging ply pyyaml
      - name: Configure
        run: |
          cat > native_config <<EOL
          [binaries]
          bison = '$(brew --prefix bison)/bin/bison'
          llvm-config = '$(brew --prefix llvm)/bin/llvm-config'
          EOL

          if [ "${{ matrix.macos_version }}" = "macos-14" ]; then
            cat >> native_config <<EOL
          c = '$(brew --prefix llvm)/bin/clang'
          cpp = '$(brew --prefix llvm)/bin/clang++'
          [built-in options]
          c_link_args = ['-fuse-ld=$(brew --prefix lld)/bin/ld64.lld']
          cpp_link_args = ['-fuse-ld=$(brew --prefix lld)/bin/ld64.lld', '-L$(brew --prefix llvm)/lib/c++', '-Wl,-rpath,$(brew --prefix llvm)/lib/c++']
          EOL
          fi

          meson setup . build --native-file=native_config -Dmoltenvk-dir=$(brew --prefix molten-vk) -Dbuild-tests=true -Dgallium-drivers=llvmpipe,zink -Dglx=${{ matrix.glx_option }} -Dtools=asahi
      - name: Build
        run: meson compile -C build
      - name: Test
        run: meson test -C build --print-errorlogs
      - name: Install
        run: meson install -C build --destdir $PWD/install
      - name: "Upload Artifact"
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.macos_version }}-${{ matrix.glx_option }}-result
          path: |
            build/meson-logs/
            install/
          retention-days: 5
